@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", serif;
  margin: 0;
  min-height: 100vh;
  font-size: 20px;
  background-color: #03363d;
  color: white;
}
